@font-face {
    font-family: 'JetBrains Mono';
    src: url(./JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'JetBrains Mono';
    src: url(./JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}
body {
    font-family: "JetBrains Mono", serif
}
